{% extends 'layout.html' %}
{% load static %}

{% block contenido %}
    <form method="POST" class="text-center m-auto mt-5" style="width: 40%;">
        <h2 class="lead mb-4 mt-0 text-center">¿Seguro que desea eliminar el registro?</h4>
        <h3 class="lead fw-normal mb-4 mt-0 text-center">{{product.titulo}}</h3>
        {% csrf_token %}
        <div class="modal-footer">
            {% if user.is_staff %}
                <a class="btn btn-outline-dark" href="{% url 'producto:productos' %}">Cancelar</a>
            {% else %}
                <a class="btn btn-outline-dark" href="{% url 'ecommerce:carrito' %}">Cancelar</a>
            {% endif %}
            <button  class="btn btn-dark" type="submit">Sí,eliminar</button>
        </div>
    </form>
{% endblock contenido %}

