{% extends 'layout.html' %}
{% load static %}

{% block contenido %}

{% if last_products %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for product in last_products %}
        {% if forloop.counter == 1 %}
        {% if last_products|length > 1 %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        {% endif %}
        {% else %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter|add:-1}}"
            aria-label="Slide {{forloop.counter}}"></button>
        <!--<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
        {% endif %}
        {% endfor %}
    </div>

    <div class="carousel-inner">

        {% for product in last_products %}

        {% if forloop.counter == 1 %}
        <div class="carousel-item active">
            <img src="{{product.imagen.url|default_if_none:'#'}}" class="d-block w-100 slider-imagen rounded" alt="...">
            <div class="info-slider">
                <p class="lead mb-1 text-slider fw-normal fst-italic">Último producto</p>
                <h1 class="text-slider  mb-5 display-5 fw-bold">{{product.titulo}}</h1>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-light mt-auto"
                            href="{% url 'producto:detalle_producto' product.slug %}">Ver más</a></div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="{{product.imagen.url|default_if_none:'#'}}" class=" rounded d-block w-100 slider-imagen" alt="...">
            <div class="info-slider">
                <p class="lead  text-slider mb-1 fw-normal fst-italic">Último producto</p>
                <h1 class="text-slider mb-5 display-5 fw-bold">{{product.titulo}}</h1>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-light mt-auto"
                            href="{% url 'producto:detalle_producto' product.slug %}">Ver más</a></div>
                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>


{% block productos %}

{% if products %}
<h4 class="mt-5 text-center fw-light ">Más productos</h4>
<section class="py-4">
    <div class="container px-4 px-lg-5">
        <div class="row contenedor-card gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">

            {% for product in products %}
            <div class="col card-producto mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top imagen" src="{{product.imagen.url| default_if_none:'#'}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.titulo}}</h5>
                            <!-- Product price-->
                            {{product.precio}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{% url 'producto:detalle_producto' product.slug %}">Ver más</a></div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
</section>
{% else %}
    <div class="container px-4 mt-5 px-lg-5 text-center">
        <h4>No hay más productos</h4>
    </div>
{% endif %}
{% endblock productos %}
{% else %}
    <div class="container px-4 px-lg-5 text-center">
        <h1>No hay productos</h1>
    </div>
{% endif %}
{% endblock contenido %}